.deleteB {
  position: absolute;
  display: grid;
  bottom: 14.5px;
  height: 2.3rem;
  left: 14.5rem;
  transition: transform 1s;
  transform-style: preserve-3d;
  animation: fadeIn 2s;
  -webkit-animation: fadeIn 2s;
  -moz-animation: fadeIn 2s;
  -o-animation: fadeIn 2s;
  -ms-animation: fadeIn 2s;
}
#modal-bodyS {
  align-items: center;
  margin: 0 auto;
}
#modal-bodyS .card {
  max-height: 230px;
  margin-left: 0.8em;
}
.delete-trash {
height: 1.5em;
}
@media only screen and (max-width: 950px) {
  .deleteB {
    bottom: 21.5px;
  }
}

#modal-bodyS .card .deleteB{
  display: none;
}
#modal-bodyS .card .editB{
  display: none;
}