.priceT {
  font-size: larger;
  text-align: center;
  margin-top: 111px;
}
@media only screen and (max-width: 750px) {
  .cardV {
    margin-top: 30px;
    height: 110vh;
    max-height: 120vh;
  }
}

.cardV {
  height: 70vh;
  max-height: 70vh;
  overflow: hidden;
  margin-top: 30px;
  box-shadow: rgb(87, 115, 146) 0px 20px 30px -10px;
  transition: transform 1s;
  transform-style: preserve-3d;
  animation: fadeIn 2s;
  -webkit-animation: fadeIn 2s;
  -moz-animation: fadeIn 2s;
  -o-animation: fadeIn 2s;
  -ms-animation: fadeIn 2s;
}
.cardV:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.cardV:hover {
  transform: scale(1.05);
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
div.box.card {
  margin-top: 2rem;
  margin-left: 2rem;
  border: 60%;
}
.card-details {
  height: 100px;
  max-height: 100px;
}

.under-price {
  margin-top: -1px;
  color: grey;
  font-size: 13px;
}
.favoriteB {
  position: absolute;
  padding: 12px;
  margin-top: -3rem;
  margin-left: 5.7rem;
  transition: transform 1s;
  transform-style: preserve-3d;
  animation: fadeIn 2s;
  -webkit-animation: fadeIn 2s;
  -moz-animation: fadeIn 2s;
  -o-animation: fadeIn 2s;
  -ms-animation: fadeIn 2s;
}
.datesV {
  margin-top: -15px;
}
div.card-subtitle .priceT {
  line-height: 0.1;
}
.deleteB {
  position: absolute;

  transition: transform 1s;
  transform-style: preserve-3d;
  animation: fadeIn 2s;
  -webkit-animation: fadeIn 2s;
  -moz-animation: fadeIn 2s;
  -o-animation: fadeIn 2s;
  -ms-animation: fadeIn 2s;
}
p.card-text.card-details {
  height: 120px;
  overflow-y: hidden;
}
p.card-text.card-details:hover {
  overflow-y: auto;
  overflow-wrap: break-word;
}

.imageV {
  max-height: 35vh;
  height: 27.5vh;
}
.followrs{
  position: relative;
  right: 6rem;
  bottom: 2.2rem;
  max-width: 3rem;
  cursor: none
}
.badge{
  position: relative;
  bottom: 2.9rem;

}
button.followrs{
  max-height: 2.2rem;
max-width: 2.5rem;
cursor: none;
border: lightgray;
pointer-events: none;
 border-radius: 40%;
}
.follow{
  max-width: 1rem;
}
svg.follow{
  max-width: 1rem;
}
