@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");

.d-flex {
  margin-left: 55rem;
}
@media only screen and (max-width: 950px) {
  .d-flex {
    margin-left: 0;
  }
  #navbarScroll {
    position: relative;
    right: 13.5rem;
    left: 1rem;
  }
}
.navbar-brand {
  margin-left: 1.8rem;
}
#navbarScroll {
  letter-spacing: 0.2rem;
  font-weight: 700;
  position: relative;

  transition: background-color 0.5s;
  font-weight: normal;
  font-size: 18px;
  text-transform: uppercase;
  transition: 0.5s;
}
.nav-main {
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;
}
.nav-title {
  left: 50px;
  font-family: "Bree Serif", serif;
  font-weight: 400;
}
a.nav-title.navbar-brand {
  color: #00558a;
}

.icon-header {
  height: 35px;
}
.log-out-icon {
  font-size: medium;
  margin-right: 4px;
}
.btn btn-outline-secondary {
  padding: 50px;
}
.signB {
  white-space: nowrap;
}
.AddVacationB {
  margin-right: 2rem;
}
#basic-nav-dropdown {
  padding: 0;
}
button.AddVacationB.btn.btn-outline-secondary {
  border: none;
  text-align: center;
  white-space: nowrap;
}
button.ChartReportsB.btn.btn-outline-secondary {
  border: none;
}

.me-auto.navbar-nav.navbar-nav-scroll {
  margin: 0 auto;
}
.dropdown-header {
  letter-spacing: 0px;
}
p.flyButtons {
  display: flex;
  padding-left: 54px;
}
.signinB {
  padding-left: 1px;
  text-align: center;
  position: relative;
  display: inline-block;
  right: 2rem;
}
button.navbar-toggler.collapsed {
  color: transparent;
}
button#dropdown-basic {
  background-color: aliceblue;
  font-size: 14px;
  border: none;
  color: rgba(0, 0, 0, 0.55);
  font-weight: 600;
  padding: 6px;
}
